/* Se van a adaptar a los colores de la cooperativa */
:root { 
    --color-light: #FBFBFF;
    --color-primary: #003f7f;
    --color-secondary: #00c9a7;
    --color-medium: #e7e7e7;
    --color-dark: #1F1E1D;
}

html {height: 100%;}

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background: var(--color-medium);
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    font-family: "Roboto", sans-serif;
    color: var(--color-dark);
    background: #585858cc;
}

.container {width: 95%; margin: 0 auto;}

header {min-height: 90px; top: 0; z-index: 5; height: max-content;}

header .container {display: flex; align-items: center; height: 100%;}
.btn {justify-content: end;}
.h1 {justify-content: center;}

.btn-inicio{
    background: var(--color-primary);
    display: inline-block;
    align-content: flex-end;
    padding: 5px 25px;
    border: 2px solid var(--color-primary);
    border-radius: 5px;
    margin: 20px;
    font-size: 17px;
    color: var(--color-light);
}
.btn-inicio:hover{background: var(--color-light);color: var(--color-primary);}

#hero {position: relative;}

#hero img {width: 100%; display: block;}

main {display: grid;}

h1 {font-size: 45px; color: var(--color-light); margin: 1rem 0;}
h3 {font-size: 25px; color: var(--color-light); margin: 1rem 0; justify-self: center;}
h5 {font-size: 18px; color: var(--color-dark); margin: 1rem 0; vertical-align: inherit;}
p {font-weight: 700; color: var(--color-light); align-self: center; grid-column: 1 / span 2}

.cons-content {
    background: var(--color-primary);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-self: center;
    padding: 30px;
    width: auto;
    height: auto;
    max-width: 550px;
    border-radius: 25px;
}

form {
    padding: 0 24px 48px 18px;
    display: grid; 
    grid-template:repeat(8, 1fr); 
    gap: 24px 16px;
    user-select: none;
}

.input-container {position: relative; grid-column: 1 / span 8;}

input, select {
    padding: 16px;
    width: 100%;
    height: 56px;
    border: 2px solid var(--color-primary); 
    border-radius: 4px;
    outline: none;
    color: var(--color-secondary);
    letter-spacing: .5px;
}

.fecha {grid-column: 3 / span 6;}

.genero { 
    grid-column: 3 / span 6;
    appearance: none;
    background: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23757575' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E") no-repeat right 10px center / 12px;
}

label {
    pointer-events: none;
    position: absolute;
    left: 16px; top: 19px;
    color: var(--color-secondary);
    letter-spacing: .5px;
    transition: .15s ease;    
}

input:hover, select:hover {border: 1px solid var(--color-dark);}

input:focus, select:focus {border: 2px solid var(--color-primary); box-shadow: 0 0 3px #00c9a774;}

input:valid {color: var(--color-dark);}

input:invalid:not(:placeholder-shown) {color: var(--color-dark); border: solid 2px red;}
.input-fecha:invalid:not(:placeholder-shown) {color: var(--color-secondary); border: 2px solid var(--color-primary)}

input:focus + label, input:not(:placeholder-shown) + label {
    top: -11px;
    font-size: 12px; 
    font-weight: 400;
    color: var(--color-primary);
    letter-spacing: .05px;
    background: var(--color-light);
    padding: 2px;      
}

button[type="submit"] {
    grid-column: 1 / span 8;
    height: 40px;
    background: var(--color-light);
    color: var(--color-primary);
    font-size: 16px;
    padding: 8px 12px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, .2);
    transition: .3s;
}

button:hover {background: var(--color-primary); border: 2px solid var(--color-light); color: var(--color-light);}
button:active {box-shadow: 0 0 0 9px rgba(0, 0, 0, .04);}

footer {
    background: var(--color-primary);
    min-height: 200px;
    margin: 16px 0 0 0;
}

footer .container {display: flex; justify-content: space-between; align-items: center; height: 100%;}

footer h5, footer p {color: var(--color-light); text-align: center;}

footer ul li {vertical-align: inherit;}

footer a {color: var(--color-light); margin-left: 16px; transition: all .4s; font-weight: 500; text-align: center;}
footer a:hover {color: var(--color-secondary);}

footer .grupo-2 {background: var(--color-primary);padding: 15px 10px; text-align: center;}

footer .grupo-2 small {color: var(--color-light);}

footer .grupo-2 img {width: 30px;}