/* Se van a adaptar a los colores de la cooperativa */
:root { 
    --color-light: #FBFBFF;
    --color-primary: #003f7f;
    --color-secondary: #00c9a7;
    --color-medium: #e7e7e7;
    --color-dark: #1F1E1D;
}

html {height: 100%;}

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background: var(--color-medium);
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    font-family: "Roboto", sans-serif;
    color: var(--color-dark);
}

.container {width: 95%; max-width: 1096px; margin: 0 auto;}

header {min-height: 90px; position: sticky; top: 0; z-index: 5; background: var(--color-light);}

header div img{width: 70px;display: flex; border-radius: 10%;}

header .container {display: flex; justify-content: space-between; align-items: center; height: 100%;}

#search-form {
    display: flex;
    align-items: center;
}

fieldset {border: 1px solid var(--color-primary); border-radius: 4px;}

#search-input {
    background: #ffffff;
    width: 300px;
    padding: 8px;
    border: none;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: var(--color-primary);
    color: var(--color-light);
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

nav ul {display: flex;}

nav ul li {margin-left: 16px; align-self: center;}

nav ul li img {width: 70px; border-radius: 50%;}

nav a {color: var(--color-dark); transition: all .4s; font-weight: 500; display: block;}

nav a:hover {color: var(--color-primary);}

nav ul li ul {position: absolute; width: 200px; background: var(--color-primary);display: none; border-radius: 2%;}

nav ul li ul li {width: auto;}

nav ul li ul li a{color: var(--color-light);font-size: 15px; padding: 10px;}

nav ul li ul li a:hover {color: var(--color-secondary);}

nav ul li:hover > ul {display: initial;}

#hero {position: relative;}

#hero img {width: 100%; display: block; max-height: 350px;}

main {display: grid;}

h2 {font-size: 34px; color: var(--color-dark); margin: 1rem 0;}
h5 {font-size: 18px; color: var(--color-dark); margin: 1rem 0; vertical-align: inherit;}
p {color: #313131;}

.info-content {
    background: var(--color-light);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-self: center;
    padding: 40px 150px 100px 150px;
    width: auto;
    height: auto;
    min-width: 550px;
    max-width: 1420px;
}

.info-txt {font-size: 23px;}

footer {
    background: var(--color-primary);
    min-height: 200px;
}

footer .container {display: flex; justify-content: space-between; align-items: center; height: 100%;}

footer h5, footer p {color: var(--color-light); text-align: center;}

footer ul li {vertical-align: inherit;}

footer a {color: var(--color-light); margin-left: 16px; transition: all .4s; font-weight: 500; text-align: center;}
footer a:hover {color: var(--color-secondary);}

footer .grupo-2 {background: var(--color-primary);padding: 15px 10px; text-align: center;}

footer .grupo-2 small {color: var(--color-light);}

footer .grupo-2 img {width: 30px;}