<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Samantha: Configuración</title>

    <link rel="stylesheet" href="/Views/CSS/configuarciones/miCuenta.css">
    <link rel="shortcut icon" href="/img/logo-cooperativa.jpg" type="image/xicon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <div class="container">
            <a id="logo" href="/Views/html/index.html"><img src="/img/logo-cooperativa.jpg" alt="Samantha"></a>

            <form id="search-form" method="get" action="/search">
                <div class="search-content">
                    <input type="text" id="search-input" name="q" placeholder="Buscar...">
                    <button type="submit">Buscar</button>
                </div>
            </form>

            <nav>
                <ul>
                    <li><a href="/Views/html/calendario.html">Calendario</a></li>
                    <li><a href=""><img src="/img/Iconos/user.png" alt="Icono-usuario"></a>
                        <ul>
                            <li><a href="/logout">Cerrar sesión</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="data container">

            <section class="titles">

                <ul>
                    <li><a href="#" class="active">| Mi cuenta</a></li>
                    <li><a href="/Views/html/configuraciones/preferencias.html">Preferencias</a></li>
                    <li><a href="/Views/html/configuraciones/tarjetasHistorial.html">Métodos de pago e historial</a></li>
                    <li><a href="/Views/html/configuraciones/seguridad.html">Seguridad</a></li>
                    <li><a href="/Views/html/configuraciones/infoVivienda.html">Información de vivienda</a></li>
                    <li><a href="/Views/html/configuraciones/ayuda.html">Ayuda</a></li>
                </ul>

            </section>

            <section class="info-content">

                <article><img src="" alt=""><button>Editar</button></article>

                <div class="nombre"><p>Nombre</p><button>Editar</button></div>

                <div class="apellido"><p>Apellido</p><button>Editar</button></div>

                <div class="correo"><p>Correo</p><button>Editar</button></div>

                <div class="contraseña"><p>Contraseña</p><button>Editar</button></div>

                <div class="tel"><p>Teléfono</p><button>Editar</button></div>
                
                <div class="">
                    <div class="select-container">
                        <select name="opciones" required >
                            <option disabled selected>Día</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>
                            <option>16</option>
                            <option>17</option>
                            <option>18</option>
                            <option>19</option>
                            <option>20</option>
                            <option>21</option>
                            <option>22</option>
                            <option>23</option>
                            <option>24</option>
                            <option>25</option>
                            <option>26</option>
                            <option>27</option>
                            <option>28</option>
                            <option>29</option>
                            <option>30</option>
                            <option>31</option>
                        </select>
                        <select name="opciones" required >
                            <option disabled selected>Mes</option>
                            <option>Enero</option>
                            <option>Febrero</option>
                            <option>Marzo</option>
                            <option>Abril</option>
                            <option>Mayo</option>
                            <option>Junio</option>
                            <option>Julio</option>
                            <option>Agosto</option>
                            <option>Setiembre</option>
                            <option>Octubre</option>
                            <option>Noviembre</option>
                            <option>Diciembre</option>
                        </select>
                        <select name="opciones" required >
                            <option disabled selected>Año</option>
                            <option>2025</option>
                            <option>2024</option>
                            <option>2023</option>
                            <option>2022</option>
                            <option>2021</option>
                            <option>2020</option>
                            <option>2019</option>
                            <option>2018</option>
                            <option>2017</option>
                            <option>2016</option>
                            <option>2015</option>
                            <option>2014</option>
                            <option>2013</option>
                            <option>2012</option>
                            <option>2011</option>
                            <option>2010</option>
                            <option>2009</option>
                            <option>2008</option>
                            <option>2007</option>
                            <option>2006</option>
                            <option>2005</option>
                            <option>2004</option>
                            <option>2003</option>
                            <option>2002</option>
                            <option>2001</option>
                            <option>2000</option>
                            <option>1999</option>
                            <option>1998</option>
                            <option>1997</option>
                            <option>1996</option>
                            <option>1995</option>
                            <option>1994</option>
                            <option>1993</option>
                            <option>1992</option>
                            <option>1991</option>
                            <option>1990</option>
                            <option>1989</option>
                            <option>1988</option>
                            <option>1987</option>
                            <option>1986</option>
                            <option>1985</option>
                            <option>1984</option>
                            <option>1983</option>
                            <option>1982</option>
                            <option>1981</option>
                            <option>1980</option>
                            <option>1979</option>
                            <option>1978</option>
                            <option>1977</option>
                            <option>1976</option>
                            <option>1975</option>
                            <option>1974</option>
                            <option>1973</option>
                            <option>1972</option>
                            <option>1971</option>
                            <option>1970</option>
                            <option>1969</option>
                            <option>1968</option>
                            <option>1967</option>
                            <option>1966</option>
                            <option>1965</option>
                            <option>1964</option>
                            <option>1963</option>
                            <option>1962</option>
                            <option>1961</option>
                            <option>1960</option>
                            <option>1959</option>
                            <option>1958</option>
                            <option>1957</option>
                            <option>1956</option>
                            <option>1955</option>
                            <option>1954</option>
                            <option>1953</option>
                            <option>1952</option>
                            <option>1951</option>
                            <option>1950</option>
                            <option>1949</option>
                            <option>1948</option>
                            <option>1947</option>
                            <option>1946</option>
                            <option>1945</option>
                            <option>1944</option>
                            <option>1943</option>
                            <option>1942</option>
                            <option>1941</option>
                            <option>1940</option>
                            <option>1939</option>
                            <option>1938</option>
                            <option>1937</option>
                            <option>1936</option>
                            <option>1935</option>
                            <option>1934</option>
                            <option>1933</option>
                            <option>1932</option>
                            <option>1931</option>
                            <option>1930</option>
                            <option>1929</option>
                            <option>1928</option>
                            <option>1927</option>
                            <option>1926</option>
                            <option>1925</option>
                            <option>1924</option>
                            <option>1923</option>
                            <option>1922</option>
                            <option>1921</option>
                            <option>1920</option>
                        </select>
                    </div>
                </div>

            </section>

        </div>
        
    </main>

    <footer>
        <div class="container">
            <div class="col-3">
                <h5><a href="/Views/html/secciones/socios.html">Socios</a></h5>
                <ul>
                    <li><a href="">Libro de socios</a></li>
                    <li><a href="">Nómina de socios</a></li>
                    <li><a href="">Control de recursos humanos</a></li>
                </ul>
            </div>

            <div class="col-4">
                <h5><a href="/Views/html/secciones/contabilidad.html">Contabilidad</a></h5>
                <ul>
                    <li><a href="">Pago de servicios</a></li>
                    <li><a href="">Libro contable</a></li>
                    <li><a href="">Gastos comunes</a></li>
                    <li><a href="https://www.anv.gub.uy/solicitud-de-subsidios-para-cooperativas">¿Cómo gestionar un subsidio?</a></li>
                </ul>
            </div>

            <div class="col-2">
                <h5><a href="/Views/html/secciones/legal.html">Legal</a></h5>
                <ul>
                    <li><a href="actas.html">Actas</a></li>
                    <li><a href="https://www.gub.uy/junta-transparencia-etica-publica/politicas-y-gestion/gestion-declaraciones-juradas#:~:text=Descripci%C3%B3n,archivo%20de%20las%20declaraciones%20juradas.">Declaraciones juradas</a></li>
                </ul>
            </div>

            <div class="col-2">
                <h5><a href="/Views/html/secciones/reclamos.html">Reclamos</a></h5>
                <ul>
                    <li><a href="/Documentos/">Formulario de reclamo</a></li>
                    <li><a href="/Documentos/">Formulario de denuncia</a></li>
                </ul>
            </div>
        </div>

        <div class="grupo-2">
            <small>© Todos los derechos están reservados a SAMII™.</small>
            <img src="/img/Diseño sin título.png" alt="logo-empresa">
        </div>
    </footer>

</body>

</html>